/* src/pages/Login/Login.scss */
.login-screen {
  justify-content: center;
  
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }

  .login-btn {
    margin-top: 20px;
  }
}